#include <windows.h>
#include "resource.h"

IDI_CLASSICSHUTDOWN ICON "ClassicShutdown.ico"

IDD_EXITWINDOWS DIALOG 0, 0, 274, 103
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Shut Down Windows"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg 2"
{
	CONTROL 0, IDD_EXITWINDOWS_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 20, 20
	CONTROL "What do you want the computer to do?", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 7, 153, 10
	CONTROL "", IDD_EXITWINDOWS_COMBOBOX, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 39, 20, 180, 57
	CONTROL "", IDD_EXITWINDOWS_LABEL, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 40, 180, 33
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 108, 82, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 82, 50, 14
	CONTROL "&Help", IDHELP, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 216, 82, 50, 14
}

IDD_LOGOFFWINDOWS DIALOGEX 0, 0, 188, 60
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Log Off Windows"
FONT 8, "MS Shell Dlg 2"
{
	CONTROL 0, IDD_LOGOFFWINDOWS_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 8, 6, 18, 20
	CONTROL "Are you sure you want to log off?", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 15, 131, 8
	CONTROL "&Yes", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 49, 38, 43, 14
	CONTROL "&No", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 99, 38, 43, 14
}

STRINGTABLE
{
	IDS_LOGOFF        "Log off %s"
	IDS_LOGOFF_DESC   "Ends your session, leaving the computer running on full power."
	IDS_SHUTDOWN      "Shut down"
	IDS_SHUTDOWN_DESC "Ends your session and shuts down Windows so that you can safely turn off power."
	IDS_RESTART       "Restart"
	IDS_RESTART_DESC  "Ends your session, shuts down Windows, and starts Windows again."
	IDS_STANDBY       "Stand by"
	IDS_STANDBY_DESC  "Maintains your session, keeping the computer running on low power with data still in memory."
	IDS_LOCK          "Lock"
	IDS_LOCK_DESC     "Maintains your session, requiring you to log in to access your desktop again."
	/* For some fucking reason, Microsoft decided it would be a good idea to have RC files NOT support multiline strings. Fuck you, M$. */
	IDS_USAGE         "Usage:\n    classicshutdown [/logoff] [/noclose] [/xpdim]\n\n    /logoff:  Displays the logoff confirmation dialog.\n    /noclose:  Does not display a close button on the shutdown dialog, like Windows XP.\n    /xpdim:  Fades the screen to black and white like Windows XP rather than applying a dither effect like 2000."
}