#include <windows.h>
#include "..\ClassicShutdown\resource.h"

/* Main (classic) */
IDD_EXITWINDOWS DIALOG 0, 0, 274, 103
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Shut Down Windows"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg 2"
{
	CONTROL 0, IDD_EXITWINDOWS_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 20, 20
	CONTROL "&What do you want the computer to do?", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 7, 153, 10
	CONTROL "", IDD_EXITWINDOWS_COMBOBOX, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 39, 20, 180, 57
	CONTROL "", IDD_EXITWINDOWS_LABEL, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 40, 180, 33
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 108, 82, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 82, 50, 14
	CONTROL "&Help", IDHELP, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 216, 82, 50, 14
}

IDD_LOGOFFWINDOWS DIALOGEX 0, 0, 188, 60
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Log Off Windows"
FONT 8, "MS Shell Dlg 2"
{
	CONTROL 0, IDD_LOGOFFWINDOWS_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 8, 6, 18, 20
	CONTROL "Are you sure you want to log off?", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 15, 131, 8
	CONTROL "&Yes", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 49, 38, 43, 14
	CONTROL "&No", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 99, 38, 43, 14
}

STRINGTABLE
{
	IDS_LOGOFF        "Log off %s"
	IDS_LOGOFF_DESC   "Ends your session, leaving the computer running on full power."
	IDS_SHUTDOWN      "Shut down"
	IDS_SHUTDOWN_DESC "Ends your session and shuts down Windows so that you can safely turn off power."
	IDS_RESTART       "Restart"
	IDS_RESTART_DESC  "Ends your session, shuts down Windows, and starts Windows again."
	IDS_STANDBY       "Stand by"
	IDS_STANDBY_DESC  "Maintains your session, keeping the computer running on low power with data still in memory."
	IDS_LOCK          "Lock"
	IDS_LOCK_DESC     "Maintains your session, requiring you to log in to access your desktop again."
	IDS_LOGOFF_BTN    "&Log Off"
	IDS_CANCEL_BTN    "Cancel"
}

/* XP friendly */
IDD_EXITWINDOWS_FRIENDLY DIALOGEX DISCARDABLE  0, 0, 208, 122
STYLE DS_SYSMODAL | DS_SETFOREGROUND | WS_POPUP | WS_BORDER
FONT 8, "MS Shell Dlg"
{
	PUSHBUTTON      "Cancel", IDCANCEL, 161, 103, 40, 12
	CONTROL         "Flag", IDC_TITLE_FLAG, "Static", SS_OWNERDRAW, 176, 0, 32, 26
	CONTROL         "Turn off computer", IDC_TITLE_TURNOFF, "Static", SS_OWNERDRAW | WS_VISIBLE, 7, 0, 162, 26
	CONTROL         "&Stand By", IDC_BUTTON_STANDBY, "Button", BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP, 36, 49, 22, 20
	CONTROL         "T&urn Off", IDC_BUTTON_TURNOFF, "Button", BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP, 93, 49, 22, 20
	CONTROL         "&Restart", IDC_BUTTON_RESTART, "Button", BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP, 150, 49, 22, 20
	CONTROL         "", IDC_TEXT_STANDBY, "Static", SS_OWNERDRAW | WS_DISABLED, 22, 73, 50, 8
	CONTROL         "", IDC_TEXT_TURNOFF, "Static", SS_OWNERDRAW | WS_DISABLED, 79, 73, 50, 8
	CONTROL         "", IDC_TEXT_RESTART, "Static", SS_OWNERDRAW | WS_DISABLED, 136, 73, 50, 8
}

IDD_LOGOFFWINDOWS_FRIENDLY DIALOGEX DISCARDABLE  0, 0, 208, 122
STYLE DS_SYSMODAL | DS_SETFOREGROUND | WS_POPUP | WS_BORDER
FONT 8, "MS Shell Dlg"
{
	PUSHBUTTON      "&Cancel", IDCANCEL, 161, 103, 40, 12
	CONTROL         "Flag", IDC_TITLE_FLAG, "Static", SS_OWNERDRAW, 176, 0, 32, 26
	CONTROL         "Log Off Windows", IDC_TITLE_SWITCHUSER, "Static", SS_OWNERDRAW, 7, 0, 162, 26
	CONTROL         "&Switch User", IDC_BUTTON_SWITCHUSER, "Button", BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP, 55, 49, 22, 20
	CONTROL         "&Log Off", IDC_BUTTON_LOGOFF, "Button", BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP, 132, 49, 22, 20
	CONTROL         "", IDC_TEXT_SWITCHUSER, "Static", SS_OWNERDRAW | WS_DISABLED, 41, 73, 50, 8
	CONTROL         "", IDC_TEXT_LOGOFF, "Static", SS_OWNERDRAW | WS_DISABLED, 118, 73, 50, 8
}

STRINGTABLE DISCARDABLE
{
	IDS_GENERIC_CAPTION                         "Windows Logon"

	IDS_TURNOFF_TITLE_FACENAME                  "Franklin Gothic"
	IDS_TURNOFF_TITLE_FACESIZE                  "14"
	IDS_TURNOFF_BUTTON_FACENAME                 "Tahoma"
	IDS_TURNOFF_BUTTON_FACESIZE                 "8"
	IDS_TURNOFF_TOOLTIP_TEXT_TURNOFF            "Shuts down Windows so that you can safely turn off the computer."
	IDS_TURNOFF_TOOLTIP_TEXT_STANDBY            "Puts your computer in a low-power state so that you can quickly resume your Windows session."
	IDS_TURNOFF_TOOLTIP_TEXT_RESTART            "Shuts down Windows and then starts Windows again."
	IDS_SWITCHUSER_TOOLTIP_TEXT_SWITCHUSER      "Lets another user log on while your programs and files remain open.\r\n\r\n(You can also switch users by pressing the Windows logo key + L.)"
	IDS_SWITCHUSER_TOOLTIP_TEXT_LOGOFF          "Closes your programs and ends your Windows session."
}