#include <windows.h>
#include "..\ClassicShutdown\resource.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

/* Main (classic) */
IDD_EXITWINDOWS DIALOG 0, 0, 274, 103
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows のシャットダウン"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg 2"
{
	CONTROL 0, IDD_EXITWINDOWS_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 20, 20
	CONTROL "実行する操作を選んでください（&W）", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 7, 153, 10
	CONTROL "", IDD_EXITWINDOWS_COMBOBOX, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 39, 20, 180, 57
	CONTROL "", IDD_EXITWINDOWS_LABEL, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 40, 180, 33
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 108, 82, 50, 14
	CONTROL "キャンセル", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 82, 50, 14
	CONTROL "ヘルプ（&H）", IDHELP, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 216, 82, 50, 14
}

IDD_LOGOFFWINDOWS DIALOGEX 0, 0, 188, 60
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows のログオフ"
FONT 8, "MS Shell Dlg 2"
{
	CONTROL 0, IDD_LOGOFFWINDOWS_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 8, 6, 18, 20
	CONTROL "ログオフしますか？", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 15, 131, 8
	CONTROL "はい（&Y）", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 49, 38, 43, 14
	CONTROL "いいえ（&N）", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 99, 38, 43, 14
}

STRINGTABLE
{
	IDS_LOGOFF        "%sのログオフ"
	IDS_LOGOFF_DESC   "コンピュータを通常の電力で実行したままセッションを終了します。"
	IDS_SHUTDOWN      "シャットダウン"
	IDS_SHUTDOWN_DESC "電源を安全に切れるよう、 セッションを終了し、 Windows をシャットダウンします。"
	IDS_RESTART       "再起動"
	IDS_RESTART_DESC  "セッションを終了し、Windows をシャットダウンして再起動します。"
	IDS_STANDBY       "スタンバイ"
	IDS_STANDBY_DESC  "データがメモリにある状態で、コンピュータを低電力で実行したままセッションを維持します。"
	IDS_LOCK          "ロックする"
	IDS_LOCK_DESC     "セッションを維持し、デスクトップに再アクセスするにはログインが必要です。"
	IDS_LOGOFF_BTN    "ログオフ（&L）"
	IDS_CANCEL_BTN    "キャンセル"
}

/* XP friendly */
IDD_EXITWINDOWS_FRIENDLY DIALOGEX DISCARDABLE  0, 0, 208, 122
STYLE DS_SYSMODAL | DS_SETFOREGROUND | WS_POPUP | WS_BORDER
FONT 8, "MS Shell Dlg"
{
	PUSHBUTTON      "キャンセル", IDCANCEL, 161, 103, 40, 12
	CONTROL         "フラグ", IDC_TITLE_FLAG, "Static", SS_OWNERDRAW, 176, 0, 32, 26
	CONTROL         "コンピュータの電源を切る", IDC_TITLE_TURNOFF, "Static", SS_OWNERDRAW | WS_VISIBLE, 7, 0, 162, 26
	CONTROL         "スタンバイ（&S）", IDC_BUTTON_STANDBY, "Button", BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP, 36, 49, 22, 20
	CONTROL         "電源を切る（&U）", IDC_BUTTON_TURNOFF, "Button", BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP, 93, 49, 22, 20
	CONTROL         "再起動（&R）", IDC_BUTTON_RESTART, "Button", BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP, 150, 49, 22, 20
	CONTROL         "", IDC_TEXT_STANDBY, "Static", SS_OWNERDRAW | WS_DISABLED, 20, 73, 54, 8
	CONTROL         "", IDC_TEXT_TURNOFF, "Static", SS_OWNERDRAW | WS_DISABLED, 77, 73, 54, 8
	CONTROL         "", IDC_TEXT_RESTART, "Static", SS_OWNERDRAW | WS_DISABLED, 134, 73, 54, 8
}

IDD_LOGOFFWINDOWS_FRIENDLY DIALOGEX DISCARDABLE  0, 0, 208, 122
STYLE DS_SYSMODAL | DS_SETFOREGROUND | WS_POPUP | WS_BORDER
FONT 8, "MS Shell Dlg"
{
	PUSHBUTTON      "キャンセル（&C）", IDCANCEL, 149, 103, 52, 12
	CONTROL         "フラグ", IDC_TITLE_FLAG, "Static", SS_OWNERDRAW, 176, 0, 32, 26
	CONTROL         "Windows のログオフ", IDC_TITLE_SWITCHUSER, "Static", SS_OWNERDRAW, 7, 0, 162, 26
	CONTROL         "ユーザーの切り替え（&S）", IDC_BUTTON_SWITCHUSER, "Button", BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP, 55, 49, 22, 20
	CONTROL         "ログオフ（&L）", IDC_BUTTON_LOGOFF, "Button", BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP, 132, 49, 22, 20
	CONTROL         "", IDC_TEXT_SWITCHUSER, "Static", SS_OWNERDRAW | WS_DISABLED, 24, 73, 82, 8
	CONTROL         "", IDC_TEXT_LOGOFF, "Static", SS_OWNERDRAW | WS_DISABLED, 118, 73, 50, 8
}

STRINGTABLE DISCARDABLE
{
	IDS_GENERIC_CAPTION                         "Windows　のログオン"

	IDS_TURNOFF_TITLE_FACENAME                  "Franklin Gothic"
	IDS_TURNOFF_TITLE_FACESIZE                  "14"
	IDS_TURNOFF_BUTTON_FACENAME                 "Tahoma"
	IDS_TURNOFF_BUTTON_FACESIZE                 "8"
	IDS_TURNOFF_TOOLTIP_TEXT_TURNOFF            "安全にコンピュータの電源を切るために Windows をシャットダウンします。"
	IDS_TURNOFF_TOOLTIP_TEXT_STANDBY            "コンピュータを低電力の状態にし、 Windows セッションをすばやく再開できるようにします。"
	IDS_TURNOFF_TOOLTIP_TEXT_RESTART            "Windows をシャットダウンして再起動します。"
	IDS_SWITCHUSER_TOOLTIP_TEXT_SWITCHUSER      "プログラムやファイルが開いたままで、ほかのユーザーがログオンできます。\r\n\r\n(Windows ロゴキーと "L" を同時に押すとユーザーを切り替えることができます。)"
	IDS_SWITCHUSER_TOOLTIP_TEXT_LOGOFF          "プログラムを閉じて Windows セッションを終了します。"
}