#include <windows.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

IDI_CLASSICSHUTDOWN             ICON                    "res\\ClassicShutdown.ico"

IDB_BACKGROUND                  BITMAP  DISCARDABLE     "res\\to_background.bmp"
IDB_FLAG                        BITMAP  DISCARDABLE     "res\\to_flag.bmp"

IDB_BUTTONS                     BITMAP  DISCARDABLE     "res\\to_buttons.bmp"
IDB_LOGOFF_BUTTONS              BITMAP  DISCARDABLE     "res\\su_buttons.bmp"