#include <windows.h>
#include <winres.h>
#include "Resource.h"

IDB_BACKGROUND    BITMAP  "res\\background.bmp"
IDB_FLAG          BITMAP  "res\\flag.bmp"
IDB_TO_BUTTONS    BITMAP  "res\\to_buttons.bmp"
IDB_SU_BUTTONS    BITMAP  "res\\su_buttons.bmp"

#include "ClassicShutdown.en-US.rc"